MONGODB_URI="mongodb+srv://omarfarids:Om0123Ar@cluster0.ncvmfrb.mongodb.net/medical?retryWrites=true&w=majority"

SECRET_KEY="my-secret-key"

BASE_URL="https://server.qr-menu.co/"


EMAIL="admin@qr-menu.co"

PASSWORD="amerzaher80"